.titulo{
    position: absolute;
    margin-top: -65px;
    margin-left: 90px;
    font-size: 35px;
    color: #017eff;
}

.titulo2{
    position: absolute;
    margin-top: -65px;
    margin-left: 210px;
    font-size: 35px;
    color: #00da67;
}

.rectangulo{
    position: absolute;
    margin-top: -65px;
    margin-left: 86.5%;
    height: 40px;
    width: 200Px;
    background-color: #2c95ff;
}

.entraryregistrarse{
    position: absolute;
    margin-top: -54px;
    margin-left: 87%;
}

html{
    font-family: 'Averta-Regular';
}